<!-- number: number = 0;
seatsNumber: number = 0;
type: string = ""; -->

<div class="table-container">
    <label>Table number</label>    
    <input type="number" name="number" [(ngModel)]="table.number" placeholder="Number" />
    <label>Seats number</label>    
    <input type="number" name="seatsNumber" [(ngModel)]="table.seatsNumber" placeholder="Seats Number" />
    <label>Location/type</label>        
    <input type="text" name="type" [(ngModel)]="table.type" placeholder="Típus" />            
</div>